<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615817766778-97jqee6td8fn76i8o4ojehs00qc8sacs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615817766778-97jqee6td8fn76i8o4ojehs00qc8sacs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>615817766778-micn0fckdgeih0nkig7doooe5gr2e1ao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMQVAwa6g9hIDodVD70-v1svUJcKe_Awg</string>
	<key>GCM_SENDER_ID</key>
	<string>615817766778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ammar.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>notification-app-98794</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-app-98794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615817766778:ios:9239f362eb7c9d64a9d8c3</string>
</dict>
</plist>